#name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    color:#540b0e;
    padding: 1px;
    background-color: #9e2a2b;
}

#description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: justify;
    width: 48%;
    height: 100px;
    margin-left: 4%;
}

#foto {
    float:right;
    width: 40%;
    padding: 15px 15px 15px 15px;
    background-color: #e09f3e;
    border-radius: 25% 25% 25% 0%; 
   }

   

body{
    background-color: #335c67;
    color: #fff3b0;
    font-size: 15px;
}

p{
    text-align: justify;
    font-size: 15px;
}

h2{
    color: #e09f3e;
}

.alignment{
    text-align: center;
}

.destaque{
    color: #e09f3e;
    font-weight: bold;
}

.destaque-italico{
    font-style: italic;
}

a{
    text-decoration: none;
    color: #e09f3e;
}

a:hover {
    font-weight: bold;
}

.tamanhos-fonte{
    font-weight: bold;
    font-size: 24px;
}

.tamanhos-fonte2{
    font-weight: bold;
    font-size: 22px;
}

.tamanhos-fonte3{
    font-weight: bold;
    font-size: 19px;
}

ul{
    line-height: 30px;
    font-style: italic;
}

li:nth-child(odd) {
    text-decoration: underline;
}